



@font-face {
    font-family: Outfit;
    src: url(../font/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Arca Majora 3;
    src: url(../font/Arca-Majora-3/ArcaMajora3-Bold.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}












body{
    background-color: #063745;
    /* background-color: #0f1d25; */
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1{
    font-size: 70px;
    font-weight: bold;
}
h1 span{
    color: #04DFBF;
}
h2{
    font-size: 45px;
    font-weight: bold;
    font-family: Arca Majora 3;
}
h3{
    font-size: 27px;
    font-weight: 450px;
    
}
h4{
    font-size: 20px;
    font-family: Arca Majora 3;
}

.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:  0 -15px;
}
.col{
    padding: 0 15px;
}

.col-50{
    width: 50%;
}
.col-33{
    width: 33.33%;
}
.col-25{
    width: 25%;
}
.col-20{
    width: 20%;
}
.col-16{
    width: 16.66%;
}
.col-14{
    width: 14.28%;
}
.col-12{
    width: 12.50%;
}
p{
    font-size: 18px;
}

.common-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn{
    text-align: center;
    border-radius: 35px;
    padding: 24px 47px;
    font-size: 18px;
    width: auto;
    color: white;
    background-color: #F8A501;
    transition: background-color 0.5s ease-in-out;
}
.btn:hover{
    background-color: #d58f04;
    color: black;
}


/* =================== Navbar Part =================== */
.navbar{
    background-color: #042832;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.navLogo{
    width: 230px;
}
.navTogglar{
    display: none;
}

nav{
    font-family: Outfit;
}

nav, .navLogo, .navitems, .navlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navlist a{
    padding: 5px 29px;
    font-size: 18px;
    color: white;
    transition: color 0.5s ease-in-out;
}
.navlist a:hover{
    color: #F8A501;
    border: none;
    border-bottom: 2px solid #F8A501;
    
}

.navbtn{
    background-color: transparent;
    border: 2px solid #088B7E;
    color: white;
    padding: 19px 40px;
}

/* =========================== Banner Part ================== */
.banner{
    font-family: Outfit;

    height: 100vh;
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container  {
    height: 100%;
    display: flex;
    align-items: center;
}
.banner-content{
    margin-top: 55px;
    max-width: 550px;
    width: 100%;
    color: white; 
}
.banner-content h1::after{
    content: "";
    display: inline-block;
    width: 150px;
    height: 20px;
    background-image: url('../img/after-h1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.banner-content p{
    margin: 45px 0;
}
.banner-btn,
.banner-vid-btn{
    display: flex;
    align-items: center;
}

.banner-vid-btn figure{
   width: 90px;
   height: 90px;
    padding: 0 15px;
}
.banner-vid-btn a{
    font-size: 18px;
    color: white;
}


/* ================== Feture Part ======================== */
/* left part */
.feature-left{
    color: white;
}
.card{
    background-color: #042832;
    border-radius: 7px;
    padding: 50px 25px;
    margin-bottom: 30px;
    /* width: 320px; */
    height: 330px;
}
.card figure{
    width: 70px;
}
.poppins{
    font-family: Poppins;
    font-size: 15px;
    color: white;
}
.siz27{
    /* font-family: Arca Majora 3; */
    /* font-size: 27px;
    font-weight: bold; */
    margin: 30px 0;
}


/* right part */
.color{
    font-family: Arca Majora 3;
    color: #04DFBF;
    font-size: 20px;
}
.feature-right{
    font-family: Arca Majora 3;
    padding: 5px 15px;
}
.feature-right h2{
    color: white;
    font-weight: 550;
    margin: 30px 0;
}
.margin-bottom{
    margin-bottom: 25px;
}


/* ============================= Market Price Part =============== */
.market-price-content{
    text-align: center;
    color: white;
}
.market-price-content h2{
    margin-top: 30px;
}
.market-price-content p{
    font-family: Poppins;
    max-width: 720px;
    width: 100%;
    margin: 24px auto 50px;
}
.card2{
    color: white;
    background-color: #042832;
    border-radius: 7px;
    padding: 35px 15px;
    width: 410px;
    height: 250px;
}
.card2 figure{
    width: 65px;
}
.card2-header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}
.card2-content {
    margin-top: 40px;
}
 .card2-content hr{
    border: 1px solid rgba(74, 74, 74, 0.5);
    margin: 10px 0;
 }
.card2-content p{
    font-size: 14px;
    text-align: center;
    
}

.card2-data{
    display: flex;
    align-items: center;
    gap: 7px;
}

.card2-data figure {
    width: 15px;
}

/* hover dropdown btn */
.dropbtn {
    background-color: transparent;
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    /* border: none; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #c7c7c7;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.market-btn{
    color: #03e9c6;
    background-color: #04dfbe15;
    padding: 23px 38px;
    margin-top: 25px;
}
.market-btn-part{
    text-align: center;
}





























/* ---------------------------- Responsive Part ------------------- */

/* xxl */
@media screen and (max-width:1199px) {
    .banner-content{
        max-width: 650px;
        width: 100%;
        padding: 40px 0 0 80px;
    }
    .banner-content h1{
        font-size: 60px;
    }
    
}





/* lg */
@media screen and (max-width:991px) {
    .navbarBrand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navTogglar {
        display: block;
        color: white;
    }

    .navitems,
    .navlist {
        display: flex;
        flex-direction: column;
        display: none;
    }

    nav {
        position: relative;
    }

    .navBtn {
        position: absolute;
        right: 30px;
    }

    .banner-content{
        max-width: 600px;
        width: 100%;
    }
    .btn{
        padding: 20px 30px;
    }
    .banner-vid-btn figure{
        width: 85px;
        height: 85px;
    }
}





/* md */
@media screen and (max-width:767px) {
    .banner-content {
            max-width: 500px;
            width: 100%;
            padding: 35px 0 0;
        }
    
        .banner-content h1 {
            font-size: 50px;
        }
}





/* sd */
@media screen and (max-width:575px) {

}